.createShoes-inputs input {
  width: 330px;
}


.product-edit-inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.product-edit-inputs input{
  width: 250px;
  height: 40px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
}